[submodule "included/tagbar"]
	path = included/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "included/vim-airline"]
	path = included/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "included/vim-commentary"]
	path = included/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "included/vim-zenroom2"]
	path = included/vim-zenroom2
	url = https://github.com/amix/vim-zenroom2
[submodule "included/vim-fugitive"]
	path = included/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "included/vim-gitgutter"]
	path = included/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter